[submodule "reservoir-sampler"]
	path = reservoir-sampler
	url = git@github.com:gameraccoon/reservoir-sampler.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
